.grid {
  display: grid;
  &-of-2 {
    grid-template-columns: repeat(2, 1fr);
    &-sm {
      @include respond(phone) {
        grid-template-columns: repeat(2, 1fr) !important;
      }
    }
  }
  &-of-4 {
    grid-template-columns: repeat(4, 1fr);
  }
  &-of-2-md {
    @include respond(tab-land) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  &-of-1-md {
    @include respond(tab-land) {
      grid-template-columns: 1fr;
    }
  }
}
