body {
  font-family: "Epilogue", sans-serif;
  font-weight: 500;
  line-height: 1.7;
  font-size: 1.8rem;
  color: $color-grey-light;
  padding: 3rem 3rem 0;
  transition: padding 0.2s;
  @include respond(phone) {
    padding: 0;
  }
}

.paragraph {
  font-size: $default-font-size;

  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}
